* {
  box-sizing: border-box;
  --main-color: #e8833a;
  --color-header: #c3cfd9;
}

body {
  font-family: "Roboto", sans-serif;
  color: #293845;
  background-color: #ffffff;
}

header {
  background-color: var(--color-header);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
  margin-bottom: 40px;
}

header p {
  color: var(--main-color);
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

main.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.subtitle {
  letter-spacing: 0.04em;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.banners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.banner {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 10px 12px;
}

.banner img {
  width: 129px;
  height: 193px;
  margin: 6px;
}

p.subtitle.succeed {
  font-weight: 700;
  color: #247a6b;
  padding: 0 25%;
}

main.filmschedule {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  margin-bottom: 125px;
}

.day p {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin: 25px 0px 6px;
}

.showtimes button {
  width: 83px;
  height: 43px;
  border: none;
  border-radius: 3px;
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  margin: 10px 8px 5px 0;
}

main.select-seats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seats {
  width: 350px;
  height: 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.seat.available {
  width: 26px;
  height: 26px;
  background: #c3cfd9;
  border: 1px solid #808f9d;
  border-radius: 12px;
  color: #000000;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  margin: 4px;
}

.seat.unavailable {
  width: 26px;
  height: 26px;
  background: #fbe192;
  border: 1px solid #f7c52b;
  border-radius: 12px;
  color: #000000;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  margin: 4px;
}

.seat.selected {
  width: 26px;
  height: 26px;
  background: #8dd7cf;
  border: 1px solid #45bdb0;
  border-radius: 12px;
  color: #000000;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  margin: 4px;
}

.labels {
  display: flex;
  flex-direction: row;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.label p {
  font-size: 13px;
  margin-top: 8px;
}

form {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  width: 85%;
}

form label {
  font-size: 18px;
  margin-bottom: 2px;
}

form input {
  width: 100%;
  height: 51px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #293845;
}

form input::placeholder {
  font-size: 18px;
  font-style: italic;
  padding-left: 4px;
}

form button {
  width: 225px;
  height: 42px;
  background: #e8833a;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #ffffff;
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

footer {
  width: 100%;
  min-height: 120px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background: #dfe6ed;
  border: 1px solid #9eadba;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner.small {
  width: 60px;
  background-color: #ffffff;
}

.banner.small img {
  width: 48px;
  height: 72px;
  margin: 6px;
}

footer p {
  font-size: 26px;
}

footer .info-film {
  display: flex;
  flex-direction: column;
}

p.success {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #293845;
  margin-bottom: 6px;
  margin-top: 40px;
  margin-left: 8%;
}

.info-film {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}

.dynamic-info {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #293845;
}
